body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f3f3f3;
    background-image: url("../img/dust_scratches.png") !important;;
}

header {
    text-align: center;
    padding: 15px;
    background-color: #333333;
    color: white;
    border-bottom: 1px solid rgba(34,36,38,.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

h1, h2, h3 {
    line-height: 1em !important;
}

.ui.segment > h1,
.ui.segment > h2,
.ui.segment > h3 {
    margin: -7px !important;
}

#int-wrapper {
    margin: 40px auto;
    max-width: 1200px;
    background-color: white;
}
#int-wrapper > * {
    margin: 0;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 0;
}

#waveform {
    padding: 0;
    background-color: #dedede;
}

#user-input {
    text-align: center;
}

#user-input > .ui.grey.segment {
    background-color: #ededed;
}

#waveform-visualiser-container {
    min-height: 250px;
    padding: 20px;
    background-color: #ededed;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}

.waveform {
    background: white;
}

.vis-control-right-group {
    float: right;
    line-height: 32px;
}

.vis-control-left-group {
    float: left;
}

#vis-controls {
    overflow: hidden;
    background-color: #fafafa;
}

.ui.label, .ui.labels .label {
    background-color: #a5673f !important;
    color: white !important;
}

#files {
    background-color: #ededed;
}

.recording,
.keyword {
    padding: 4px 7px;
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #b3b3b3;
    margin-right: 7px;
}

.keyword i {
    cursor: pointer;
}

#new-keyword-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#new-keyword-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search-keywords-button {
    float: right;
}

#keywords-list {
    background-color: #ededed;
}

.recording {
    cursor: pointer;
}

.recording.active {
    background-color: white;
}

#play-time {
    line-height: 28px;
    padding: 0 7px;
}

#seek-input {
    padding: 0 0 0 7px;
}
